<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ServiceKnownTypesLibs" type="System.Configuration.SingleTagSectionHandler" />
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core"/>
    <section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" />
  </configSections>
  <MessageForwardingInCaseOfFaultConfig ErrorQueue="HA.WCF.COSMOS.error"/>

  <UnicastBusConfig ForwardReceivedMessagesTo="audit">
    <MessageEndpointMappings>
      <add Messages="HA.COSMOS.Messages" Endpoint="risco.rsp.rmac.worker"/>
    </MessageEndpointMappings>
  </UnicastBusConfig>

  <system.serviceModel>
    <services>
      <service name="HA.WCF.Services.BaseService">
        <endpoint address="" binding="netTcpBinding" contract="HA.Contracts.IService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <!--<endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />-->
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:5454/COSMOSService" />
            <!--<add baseAddress="http://localhost:4090/" />-->
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!--<serviceMetadata httpGetEnabled="true"/>-->
          <serviceDebug includeExceptionDetailInFaults="True"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <ServiceKnownTypesLibs
     lib1="HA.Wcf.Messages"
     lib2="HA.COSMOS.ValueObjects"
     lib3="HA.Common"
    />
</configuration>