<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--<configSections>
    <section name="ServiceKnownTypesLibs" type="System.Configuration.SingleTagSectionHandler" />
  </configSections>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IRACService" sendTimeout="00:05:00" />
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:5454/COSMOSService" binding="netTcpBinding"
          bindingConfiguration="NetTcpBinding_IRACService" contract="HA.Contracts.IRACService"
          name="NetTcpBinding_IRACService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>

  <ServiceKnownTypesLibs
    lib1="HA.Wcf.Messages"
    lib2="HA.COSMOS.ValueObjects"
    lib3="HA.Common"
    />-->
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>