<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core"/>
    <section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" />
    <section name="MessageHandlerOrder" type="System.Configuration.SingleTagSectionHandler" />
  </configSections>
  <UnicastBusConfig ForwardReceivedMessagesTo="audit">
    <MessageEndpointMappings>
      <add Messages="HA.COSMOS.Messages" Endpoint="HA.COSMOS.Worker"/>
    </MessageEndpointMappings>
  </UnicastBusConfig>
  <MessageForwardingInCaseOfFaultConfig ErrorQueue="HA.COSMOS.error"/>
<MessageHandlerOrder
  Order1="HA.COSMOS.MessageHandlers, HA.COSMOS.MessageHandlers.DoJob4"
  Order2="HA.COSMOS.MessageHandlers, HA.COSMOS.MessageHandlers.DoJob1"
  Order3="HA.COSMOS.MessageHandlers, HA.COSMOS.MessageHandlers.DoJob3"
  Order4="HA.COSMOS.MessageHandlers, HA.COSMOS.MessageHandlers.DoJob2"
  />
</configuration>