<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core" />
    <section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" />
    <section name="TransportConfig" 
             type="NServiceBus.Config.TransportConfig, NServiceBus.Core"/>
    <section name="MessageHandlerOrder" type="System.Configuration.SingleTagSectionHandler" />
    <section name="GatewayConfig" type="NServiceBus.Config.GatewayConfig, NServiceBus.Core" />
  </configSections>
  <UnicastBusConfig ForwardReceivedMessagesTo="HA.COSMOS.audit"/>
  <MessageForwardingInCaseOfFaultConfig ErrorQueue="HA.COSMOS.error" />
  <TransportConfig MaximumConcurrencyLevel="5" 
                 MaxRetries="2" 
                 MaximumMessageThroughputPerSecond="0"/>
  <MessageHandlerOrder 
    Order1="HA.COSMOS.MessageHandlers, HA.COSMOS.MessageHandlers.DoJob1" 
    Order2="HA.COSMOS.MessageHandlers, HA.COSMOS.MessageHandlers.DoJob2" 
    Order3="HA.COSMOS.MessageHandlers, HA.COSMOS.MessageHandlers.DoJob3" 
    Order4="HA.COSMOS.MessageHandlers, HA.COSMOS.MessageHandlers.DoJob4" />
  <GatewayConfig>
    <Channels>
      <Channel Address="http://localhost:25899/" ChannelType="Http" Default="true" />
    </Channels>
  </GatewayConfig>
</configuration>